<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AB Testing</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    {% load static %}
    <script src="{% static 'calendar/dist/js/datepicker.min.js' %}"></script>
    <link href="{% static 'calendar/dist/css/datepicker.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'my_css/upload_files.css' %}" rel="stylesheet" type="text/css">
</head>

<body>

<h1>
    Current server: {{ server }}
</h1>

{% if result %}
    <h1 style="color: red">{{ result }}</h1>
{% endif %}

<h2><a href="/"> < RETURN </a></h2>

<form id="fileupload" method="post" action="/save/" enctype="multipart/form-data">{% csrf_token %}

    <label for="testing_name">Название теста (for appmetrica):</label><br>
    <input id="testing_name" type="text" name="testing_name" value="test name"/><br><br>

    <label for="testing_probability">Вероятность:</label><br>
    <input id="testing_probability" type="number" name="testing_probability" value="100"/><br><br>

    <label for="testing_user_count">Кол-во пользователей учавствующих в тестировании:</label><br>
    <input id="testing_user_count" type="number" name="testing_user_count" value="100"/><br><br>

    {% for filter in filters %}
        <div style="background-color: aliceblue">

            <label>
                Is On:
                <input type="checkbox" name="{{ filter.name }}_is_on" value="on"><br>
            </label>


            <label for="{{ filter.name }}">{{ filter.description }}</label><br>
            {% if filter.type == "BOOL" %}
                <select id="{{ filter.name }}" name="{{ filter.name }}" form="fileupload">
                    <option value="0" selected="selected">FLASE</option>
                    <option value="1">TRUE</option>
                </select>
            {% elif  filter.type == "DATE" %}
                <input id="{{ filter.name }}" type="text" name="" value="" class="datepicker-here"
                       data-timepicker="true" autocomplete="off"/>
                <input id="{{ filter.name }}_value_UNIX" type="hidden" name="{{ filter.name }}" value=""/>
            {% else %}
                {% if filter.name == "TypeOperatingSystem" %}
                    <select id="{{ filter.name }}" name="{{ filter.name }}" form="fileupload">
                        <option value="Android">Android</option>
                        <option value="OSXPlayer">OSXPlayer</option>
                        <option value="OSXEditor">OSXEditor</option>
                        <option value="WindowEditor">WindowEditor</option>
                        <option value="IPhonePlayer">IPhonePlayer</option>
                    </select>
                {% else %}
                    <input id="{{ filter.name }}" type="text" name="{{ filter.name }}" value=""/>
                {% endif %}
            {% endif %}


            <label for="{{ filter.name }}_type">Тип:</label>
            <select id="{{ filter.name }}_type" name="{{ filter.name }}_type" form="fileupload">
                {% if filter.type == "INT" or filter.type == "FLOAT" or filter.type == "DATE" %}
                    <option value="<"><</option>
                    <option value=">">></option>
                {% endif %}
                <option value="!=">!=</option>
                <option value="==">==</option>
            </select>

            {% if filter.type == "DATE" %}
                <input type="hidden" name="{{ filter.name }}_data_type" value="INT">
            {% else %}
                <input type="hidden" name="{{ filter.name }}_data_type" value="{{ filter.type }}">
            {% endif %}



            <br>
        </div>
        <br><br>

    {% endfor %}


    <div id="drop-zone2">
        <p>Drop Configs Files Here...</p>
        <div id="clickHere2">or click here.. <i class="fa fa-upload"></i>
            <label for="configs">Configs:</label><br>
            <input type="file" name="configs" id="configs" multiple/>
        </div>
        <div id='fileNameConfigs'></div>
    </div>

    {% comment %}<br>
            <label for="configs">Configs:</label><br>
            <input id="configs" type="file" name="configs" multiple accept=".json,.csv">
            <br>
            <br>{% endcomment %}
    <br>
    <br>
    <br>

    <input type="hidden" name="server" value="{{ server }}">

    <div id="drop-zone">
        <p>Drop Levels Files Here...</p>
        <div id="clickHere">or click here.. <i class="fa fa-upload"></i>
            <br>
            <label for="levels">Levels:</label><br>
            <input type="file" name="levels" id="levels" multiple/>
        </div>
        <div id='fileNameLevels'></div>
    </div>
    <br>

    <label for="loadLevelsFiles"></label><input type="hidden" name="loadLevelsFiles" value="[]" id="loadLevelsFiles"/>
    <label for="loadConfigsFiles"></label><input type="hidden" name="loadConfigsFiles" value="[]"
                                                 id="loadConfigsFiles"/>

    <button type="submit" onclick="return confirm('Are you sure?')">Сохранить</button>
</form>


</body>

<script src="{% static 'my_js/upload_files.js' %}"></script>
<script>
    {% for filter in filters %}

        {% if filter.type == "DATE" %}

            $(document).ready(function () {
                $('#{{ filter.name }}').datepicker({
                    onSelect: function (formattedDate, date, inst) {
                        console.log(date.getTime() / 1000);
                        $("#{{ filter.name }}_value_UNIX").val((date.getTime() / 1000));
                    }
                })
            });
        {% endif %}
    {% endfor %}
</script>
<script>
    UploadFiles("drop-zone", "clickHere", "mouse-over", "loadLevelsFiles", "fileNameLevels");
    UploadFiles("drop-zone2", "clickHere2", "mouse-over", "loadConfigsFiles", "fileNameConfigs");

    {% comment %}   var dropZoneId2 = "drop-zone2";
       var buttonId2 = "clickHere2";
       UploadFiles(dropZoneId2, buttonId2, mouseOverClass, skipFiles, "filename2");{% endcomment %}

</script>
</html>
