<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AB Testing</title>
    {% load static %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="{% static 'calendar/dist/js/datepicker.min.js' %}"></script>

    <link href="{% static 'calendar/dist/css/datepicker.min.css' %}" rel="stylesheet" type="text/css">

    <script>
        {% for filter in filters %}

            {% if filter.type == "DATE" %}

                $(document).ready(function () {
                    $('#{{ filter.name }}').datepicker({
                        onSelect: function (formattedDate, date, inst) {
                            console.log(date.getTime() / 1000);
                            $("#{{ filter.name }}_value_UNIX").val((date.getTime() / 1000));
                        }
                    })
                });
            {% endif %}
        {% endfor %}
    </script>

</head>
<body>

<h1>
    Current server: {{ server }}
</h1>

{% if result %}
    <h1 style="color: red">{{ result }}</h1>
{% endif %}

<h2><a href="/"> < RETURN </a></h2>

<form id="testing_data" method="post" action="/save/" enctype="multipart/form-data">{% csrf_token %}

    <label for="testing_name">Название теста (for appmetrica):</label><br>
    <input id="testing_name" type="text" name="testing_name" value="test name"/><br><br>

    <label for="testing_probability">Вероятность:</label><br>
    <input id="testing_probability" type="number" name="testing_probability" value="100"/><br><br>

    <label for="testing_user_count">Кол-во пользователей учавствующих в тестировании:</label><br>
    <input id="testing_user_count" type="number" name="testing_user_count" value="100"/><br><br>

    {% for filter in filters %}
        <div style="background-color: aliceblue">

            <label>
                Is On:
                <input type="checkbox" name="{{ filter.name }}_is_on" value="on"><br>
            </label>


            <label for="{{ filter.name }}">{{ filter.description }}</label><br>
            {% if filter.type == "BOOL" %}
                <select id="{{ filter.name }}" name="{{ filter.name }}" form="testing_data">
                    <option value="0">FLASE</option>
                    <option value="1">TRUE</option>
                </select>
            {% elif  filter.type == "DATE" %}
                <input id="{{ filter.name }}" type="text" name="" value="" class="datepicker-here"
                       data-timepicker="true"/>
                <input id="{{ filter.name }}_value_UNIX" type="hidden" name="{{ filter.name }}" value=""/>
            {% else %}
                <input id="{{ filter.name }}" type="text" name="{{ filter.name }}" value=""/>
            {% endif %}


            <label for="{{ filter.name }}_type">Тип:</label>
            <select id="{{ filter.name }}_type" name="{{ filter.name }}_type" form="testing_data">
                {% if filter.type == "INT" or filter.type == "FLOAT" %}
                    <option value="<"><</option>
                    <option value=">">></option>
                {% endif %}
                <option value="!=">!=</option>
                <option value="==">==</option>
            </select>

            {% if filter.type == "DATE" %}
                <input type="hidden" name="{{ filter.name }}_data_type" value="INT">
            {% else %}
                <input type="hidden" name="{{ filter.name }}_data_type" value="{{ filter.type }}">
            {% endif %}

            <input type="hidden" name="server" value="{{ server }}">
            <br>

        </div>
        <br><br>

    {% endfor %}

    <br>
    <label for="configs">Configs:</label><br>
    <input id="configs" type="file" name="configs" multiple accept=".json,.csv">
    <br>
    <br>
    <label for="configs">Levels:</label><br>
    <input id="levels" type="file" name="levels" multiple accept=".json">

    <br>
    <br>
    <button type="submit" onclick="return confirm('Are you sure?')">Сохранить</button>
</form>
</body>
</html>